<div class="input-step-name-field">
           <form id="rename-step-form" action="javascript:void(0);">
           <input id="input-field-name" type="text">
               <input id="cancel-rename" type="submit" value="Cancel">
           </form>
</div>