<div class="input_lesson_name_field">
           <form id="rename_lesson_form" action="javascript:void(0);">
           <input id="input_field_name" type="text">
               <input id="cancel-rename" type="submit" value="Cancel">
           </form>
</div>