<div class="rename-substep-template-field">
           <form id="rename-substep-template-form" action="javascript:void(0);">
           <input id="input-field-name" type="text">
               <input id="cancel-rename" type="submit" value="Cancel">
           </form>
</div>