<ul class="shoesNav">
       <script id="shoe-template" type="x-handlebars-template">
       {{#each this}}
       <li class="shoes"><a href="/{{name}}">{{name}} -- Price: {{price}} </a></li>
       {{/each}}
       </script>
</ul>