[run]
omit =
    STEPIC_STUDIO/settings/*
    stepicstudio/migrations/*

[report]
exclude_lines =
    pragma: no cover

    raise NotImplementedError

omit =
    STEPIC_STUDIO/settings/*
    stepicstudio/migrations/*