{%  load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> {%  block title %}Stepic Studio Server{% endblock %}</title>
<head>
    <link rel="icon" href="https://stepik.org/favicon.ico">
    <link rel = "stylesheet" type="text/css" href="{% static "css/default.css" %}" >
    <link rel = "stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}" >
    <link rel = "stylesheet" type="text/css" href="{% static "css/jquery-ui.theme.css" %}" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <script src="{% static "js/list.js" %}"></script>
    <script src={% static "extra/jquery-ui-1.11.2.custom/jquery-ui.js" %}></script>
    <script src={%  static "extra/handlebars-v3.0.3.js" %}></script>
    <script src={%  static "extra/hb_templates/templates.js" %}></script>




</head>
<body>
    {% if say_hello == True %}
        <header id="header">
            <h3>Hello, and welcome to Stepic Studio.</h3>
            <p>We missed you and hope you will bring joy of knowledge with your course!</p>
        </header>
    {% endif %}
    <div id="page">
        <div id = "left_controls">
            <div id = "sidebar">
                {% block sidebar %}
                    <div id="navcontainer">
                    <ul id="navlist">
                            <li>Logged as {{ full_name }}</li>
                            <li><a href="/courses/">Courses list</a></li>
                            <li><a href="/settings/">Settings</a></li>
                        {%  if Course.id > 0 %}
                            <li><a href="/course/{{ Course.id }}/structure">Structure</a></li>
                        {% endif %}
                        <li><a href="/logout/">Log out</a></li>
                    </ul>
                    </div>
                {% endblock %}
                <div>
                    Server disk free/total space:
                    <br>
                    {{ request.session.server_space_info }}
                    {% if request.session.server_space_status == 'warning' %}
                            <img src="/static/icons/yellow_warning.png" width="20" height="20">
                    {% endif %}
                    {% if request.session.server_space_status == 'error' %}
                            <img src="/static/icons/red_warning.svg" width="20" height="20">
                    {% endif %}
                </div>
                <div>
                    Tablet disk free/total space:
                    <br>
                    {{ request.session.tablet_space_info }}
                    {% if request.session.tablet_space_status == 'warning' %}
                            <img src="/static/icons/yellow_warning.png" width="20" height="20">
                    {% endif %}
                    {% if request.session.tablet_space_status == 'error' %}
                            <img src="/static/icons/red_warning.svg" width="20" height="20">
                    {% endif %}
                </div>

            </div>


        </div>
        <div id="content">

            {% block content %} {% endblock %}
            {% block controls %} {% endblock %}
        </div>

    </div>
</body>
</html>
