{%  extends "base.html" %}
{%  load static %}

{% if Recording == False %}
    {%  block content %}
        <b>Course: <a class="reference_wo_underline" href = {{ Course.url }}>{{ Course.name}}</a></b>
        <br>
        <br>
        <br>

        <div style="height: 70px">
            <div class="add_container">
                <a class="add_button_ref" href="/add-lesson/">Add Lesson</a>
            </div>

            <div  id="draggable_tip">
                <b>Pull <img src="/static/icons/draggable.svg" width="20" height="20"> to change order</b>
            </div>
        </div>

        <ul id="sortable">
            {% for L in Lessons  %}
            <li id="{{ L.position }}"  lessonID ="{{ L.id }}" class="ui-state-default">
                <div class="listdiv">
                    <a class="obj_name lesson_name" href="/course/{{ Course.id}}/lesson/{{ L.id  }}/">{{ L.name }}</a>
                    <div class="lesson_controls">
                        <span class="raw_cut_lesson">Raw Cut</span> |
                        <span class="rename_button lesson_rename">rename</span> |
                        <span class="delete_button">
                            <img class="delete-url" src="/static/icons/bin.svg" data-urllink="/course/{{Course.id}}/lesson/{{L.id}}/delete/" width="22" height="22" id="delete_svg">
                        </span> |
                        <span class="drag_handle">
                            <img src="/static/icons/draggable.svg" width="30" height="30">
                        </span>
                    </div>
                </div>
            </li>

            {% endfor %}
            <br>
        </ul>
    </ul>
    {% endblock %}

    {% block controls %}
        <div class="back button right">
            <a href="/courses/">Back</a>
        </div>
    {% endblock %}

{% endif %}