{% extends "base.html" %}
{% if not Recording %}
    {% block content %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-dark">
                <li class="breadcrumb-item text-light active"
                    aria-current="page">
                    <a>Courses</a>
                </li>
            </ol>
        </nav>

        <div class="btn-group-vertical w-100">
            {% for i in Courses %}
                <a href="/course/{{ i.id }}/"
                   class="btn btn-outline-dark text-light btn-lg text-left border btn-list">
                    {{ i.name }}
                </a>
            {% endfor %}
        </div>

    {% endblock %}
{% endif %}
