{%  extends "base.html" %}
{%  load static %}

{% if Recording == False %}
    {%  block content %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    {{ Course.name }}
                </li>
            </ol>
        </nav>

        <div style="height: 70px">
            <div class="add_container">
                <a class="add_button_ref" href="/add-lesson/">Add Lesson</a>
            </div>

{% comment %}            <div id="draggable_tip">
                <b>Pull <img src="/static/icons/draggable.svg" width="20" height="20"> to change order</b>
            </div>{% endcomment %}
        </div>

        <div class="list-group">
            {% for L in Lessons  %}
                <div id="{{ L.position }}" class="lid-inline" lessonID ="{{ L.id }}">

                    <a class="btn btn-light btn-lg  lesson_name list-group-item" href="/course/{{ Course.id}}/lesson/{{ L.id }}/">
                        {{ L.name }}
                    </a>

                    <a class="btn btn-lg btn-light dropdown-toggle dropdown-toggle-split list-group-item"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% comment %}<span class="sr-only">Toggle Dropdown</span>{% endcomment %}
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item raw_cut_lesson" href>Raw cut</a>
                        <a class="dropdown-item rename_button lesson_rename" href>Rename</a>
                        <a class="dropdown-item delete_button" data-urllink="/course/{{Course.id}}/lesson/{{L.id}}/delete/" href>Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>

{% comment %}        <ul id="sortable">
            {% for L in Lessons  %}
            <li id="{{ L.position }}"  lessonID ="{{ L.id }}" class="ui-state-default">
                <div class="listdiv">
                    <a class="obj_name lesson_name" href="/course/{{ Course.id}}/lesson/{{ L.id  }}/">{{ L.name }}</a>
                    <div class="lesson_controls">
                        <span class="raw_cut_lesson">Raw Cut</span> |
                        <span class="rename_button lesson_rename">rename</span> |
                        <span class="delete_button">
                            <img class="delete-url" src="/static/icons/bin.svg" data-urllink="/course/{{Course.id}}/lesson/{{L.id}}/delete/" width="22" height="22" id="delete_svg">
                        </span> |
                        <span class="drag_handle">
                            <img src="/static/icons/draggable.svg" width="30" height="30">
                        </span>
                    </div>
                </div>
            </li>

            {% endfor %}
            <br>
        </ul>{% endcomment %}

    {% endblock %}

    {% block controls %}
        <div class="back button right">
            <a href="/courses/">Back</a>
        </div>
    {% endblock %}

{% endif %}