{%  extends "base.html" %}
{%  load static %}

{% if Recording == False %}
    {%  block content %}
        <br>this page is for Course:
        <br>
        <h3>
        <b><a href = {{ Course.url }}>{{ Course.name}}</a></b> <br>
        </h3>
        <br>

        <style>
        .listdiv {
            padding-bottom: 10px;
        }
        </style>


        <b>Course Lessons are:<br></b>
        <div id="draggableCheckbox">
            <form>
                Make Draggable <input id ="isDraggable" type="checkbox" value="Draggable">
            </form>
        </div>
        <ul id="sortable">
            {% for L in Lessons  %}
            <li id="{{ L.position }}"  lessonID ="{{ L.id }}" class="ui-state-default">
                <div class="listdiv">
                    <a class="obj_name lesson_name" href="/course/{{ Course.id}}/lesson/{{ L.id  }}/">{{ L.name }}</a>
                    <div class="lesson_info">
                        <span class="raw_cut_lesson">Raw Cut</span> |
                        <span class="rename_button lesson_rename">rename</span>
                    </div>
                </div>
            </li>

            {% endfor %}
            <br>
        </ul>
    </ul>
    {% endblock %}
    {% block controls %}
        <a href="/add_lesson/">Add Lesson</a>
    {% endblock %}

{% endif %}