{%  extends "base.html" %}

{% if Recording == False %}
    {%  block content %}


        <!--ADD BACK BUTTON -->
        <br xmlns="http://www.w3.org/1999/html">this page is for Lesson <a href = {{ Lesson.url }}>{{ Lesson.name}}:</a>
        <br>
        <h3>
        from  <a href = {{ Course.url }}>{{ Course.name}}</a>
        </h3>
        <br>
        <div id="draggable_checkbox">
            <form>
                Make Draggable <input id ="isDraggable" type="checkbox" value="Draggable">
            </form>
        </div>
        <ul id="sortable">
            {% for S in Steps  %}
            <li id ='{{ S.position }}' stepID="{{ S.pk }}" class="ui-state-default">
                <span class="lesson_path hidden_info">Path: {{ Lesson.os_path }}</span>
                <a class="step_name obj_name" href="/course/{{ Course.id}}/lesson/{{ Lesson.id  }}/step/{{ S.id }}/">{{ S.name }}</a>
                <div class="lesson_info">
                        <span class="raw_cut_step">Raw Cut</span> |
                        <span class="rename_button step_rename">rename</span> |
                        <span>info</span> |
                        <span class="delete_button">
                            <img class="delete-url" src="/static/icons/bin.svg" data-urllink="/course/{{ Course.id}}/lesson/{{ Lesson.id  }}/step/{{ S.id }}/delete/" width="20" height="20" id="delete_svg">
                        </span>
                </div>

            </li>
            {% endfor %}
            <br>
        </ul>

        Add new steps here

    {% endblock %}
    {% block controls %}
        <a href="/course/{{ Course.id}}/lesson/{{ Lesson.id  }}/add_step/"> Add Step</a>
        <div class="delete_button right">
            <div class="delete-url" data-urllink="/course/{{ Course.id}}/lesson/{{ Lesson.id  }}/delete/">Delete lesson </div>
        </div>
    {% endblock %}
{% endif %}