{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <script src="{% static "js/list_view.js" %}"></script>
{% endblock %}

{% if Recording == False %}
    {% block content %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/courses/">Courses</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ Course.url }}">{{ Course.name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ Lesson.name }}
                </li>
            </ol>
        </nav>

        <div class="add-item btn-group dropright"
             data-urllink="/course/{{ Course.id }}/lesson/{{ Lesson.id }}/add_step/">

            <span data-toggle="dropdown">
                <button type="button" class="btn btn-light btn-lg border rounded btn-list dropdown-toggle-split"
                        data-toggle="tooltip" aria-haspopup="true" aria-expanded="false" data-placement="left" title="Create new step">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>

            <div class="dropdown-menu p-4" id="add-form">
            </div>
        </div>

        <div class="btn-group-vertical w-100 sortable">
            {% for S in Steps %}
                <div class="btn-group" id='{{ S.position }}' elem_id="{{ S.pk }}">
                    <a class="btn btn-light btn-lg text-left border btn-list elem_name" type="step"
                       href="/course/{{ Course.id }}/lesson/{{ Lesson.id }}/step/{{ S.id }}/">{{ S.name }}</a>

                    <button type="button"
                            class="btn btn-lg btn-light dropdown-toggle dropdown-toggle-split w-4 border border-left-0 btn-list"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item raw_cut" data-urllink="/create-step-montage/{{ S.id }}/" href>
                            Raw cut</a>
                        <a class="dropdown-item" id="#rename-button" href="#renameModalCenter">Rename</a>
                        <a class="dropdown-item" id="#delete-button"
                           data-urllink="step/{{ S.id }}/delete/" href="#deleteModalCenter">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include 'modal_delete.html' %}
        {% include 'modal_rename.html' %}

    {% endblock %}

    {% block controls %}
        <a href="{{ Course.url }}">
            <button type="button"
                    class="float-left h-100 btn btn-light btn-primary-outline btn-back sticky-top rounded-0">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
        </a>
    {% endblock %}
{% endif %}