{%  extends "base.html" %}

{% if Recording == False %}
    {%  block content %}
        <b>Course: <a class="reference_wo_underline" href="{{ Course.url }}">{{ Course.name}}</a></b>
        <br>
        <b>Lesson: <a class="reference_wo_underline" href="{{ Lesson.url }}">{{ Lesson.name}}</a></b>
        <br>
        <br>
        <div style="height: 70px">
            <div class="add_container">
                <a class="add_button_ref" href="/course/{{ Course.id}}/lesson/{{ Lesson.id  }}/add_step/"> Add Step</a>
            </div>

            <div id="draggable_tip">
                <b>Pull <img src="/static/icons/draggable.svg" width="20" height="20"> to change order</b>
            </div>
        </div>

        <ul id="sortable">
            {% for S in Steps  %}
            <li id ='{{ S.position }}' stepID="{{ S.pk }}" class="ui-state-default">
                <div class="listdiv">
                    <span class="lesson_path hidden_info">Path: {{ Lesson.os_path }}</span>
                    <a class="step_name obj_name" href="/course/{{ Course.id}}/lesson/{{ Lesson.id  }}/step/{{ S.id }}/">{{ S.name }}</a>
                    <div class="lesson_controls">
                        <span class="raw_cut_step">Raw Cut</span> |
                        <span class="rename_button step_rename">rename</span> |
                        <span class="lesson_info">info</span> |
                        <span class="delete_button">
                            <img class="delete-url" src="/static/icons/bin.svg" data-urllink="/course/{{ Course.id}}/lesson/{{ Lesson.id  }}/step/{{ S.id }}/delete/" width="22" height="22" id="delete_svg">
                        </span> |
                        <span class="drag_handle">
                            <img src="/static/icons/draggable.svg" width="30" height="30">
                        </span>
                    </div>
                </div>
            </li>
            {% endfor %}
            <br>
        </ul>

    {% endblock %}
    {% block controls %}
        <div class="back button right">
            <a href="{{Course.url}}" >Back</a>
        </div>
    {% endblock %}
{% endif %}