{% extends "base.html" %}
{% if Recording == False %}
    {% block content %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a>Courses</a>
                </li>
            </ol>
        </nav>
        <div class="btn-group-vertical w-100">
            {% for i in Courses %}
                <a href="/course/{{ i.id }}/" class="btn btn-light btn-lg text-left border btn-list">
                    {{ i.name }}
                </a>
            {% endfor %}
        </div>
    {% endblock %}

    {% block controls %}
    {% endblock %}
{% endif %}