{% extends "base.html" %}
{% load app_filters %}
{% load static %}
{% block head %}
    {{ block.super }}
    <script src="{% static "js/step_view.js" %}"></script>
    <script src="{% static "js/recording_utils.js" %}"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="/courses/">Courses</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{{ Course.url }}">{{ Course.name }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{{ Lesson.url }}">{{ Lesson.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ Step.name }}
            </li>
        </ol>
    </nav>

    {% if Recording != True %}

        <div class="w-100 text-center p-5">
            <button type="button" class="start-recording btn btn-light recording-button">
                <h1 class="head-text">Start Recording</h1>
                <h5 class="tip-text">Click here or press the spacebar to start</h5>
            </button>
        </div>

        <div class="list-group w-100 pb-4">
            {% for SS in SubSteps %}
                <div class="list-group-item substep-list w-100 d-table" data-ss-id="{{ SS.id }}"
                     data-ss-locked="{{ SS.is_locked }}">
                    <span class="ss-name d-table-cell align-middle w-25 pl-2">{{ SS.name|to_custom_name:tmpl_name }}</span>
                    <span class="d-table-cell align-middle text-black-50">
                    | V: {% if SS.duration > 0.0 %} {{ SS.duration | sec_to_time }} {% else %} Err! {% endif %}
                        | Scr: {% if SS.screencast_duration > 0.0 %}
                        {{ SS.screencast_duration | sec_to_time }} {% else %}
                        Err! {% endif %}
                        | {% if not SS.is_videos_ok %} Err! {% endif %}
                    </span>
                    <span class="d-table-cell align-middle w-100 pl-4 pr-4">
                        <span class="progress w-100 {% if not SS.is_locked %} d-none {% endif %}" style="z-index: 2">
                            <span class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                                  role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                  aria-valuemax="100" style="width: 100%"></span>
                        </span>
                    </span>
                    <span class="btn-group float-right">
                        <button type="button" class="btn btn-outline-info show-content"
                                data-urllink="/showcontent/{{ SS.id }}/"  data-toggle="tooltip" aria-haspopup="true"
                                aria-expanded="false" data-placement="bottom" title="Show camera recording">
                            <img src="/static/icons/video-camera.svg" width="30" height="30">
                        </button>
                        <button type="button" class="btn btn-outline-info show-content"
                                data-urllink="/showscreencontent/{{ SS.id }}/" data-toggle="tooltip" aria-haspopup="true"
                                aria-expanded="false" data-placement="bottom" title="Show screencast">
                            <img src="/static/icons/display.svg" width="30" height="30">
                        </button>
                        <button type="button"
                                class="btn btn-outline-info show-content show-raw-cut {% if not SS.automontage_exist %} d-none {% endif %}"
                                data-urllink="/show-montage/{{ SS.id }}/" data-toggle="tooltip" aria-haspopup="true"
                                aria-expanded="false" data-placement="bottom" title="Show raw cut" {% if SS.is_locked %} disabled {% endif %}>
                            <img src="/static/icons/film-strip-play.svg" width="30" height="30">
                        </button>
                        <button type="button"
                                class="btn btn-outline-info create-raw-cut {% if SS.automontage_exist %} d-none {% endif %}"
                                data-urllink="/create_montage/{{ SS.id }}" data-toggle="tooltip" aria-haspopup="true"
                                aria-expanded="false" data-placement="bottom" title="Create raw cut">
                            <img src="/static/icons/raw-cut.svg" width="30" height="30">
                        </button>
                        <button type="button" class="btn btn-outline-info delete-button"
                                data-urllink="{{ SS.id }}/delete/" data-toggle="tooltip" aria-haspopup="true"
                                aria-expanded="false" data-placement="bottom" title="Delete substep" {% if SS.is_locked %} disabled {% endif %}>
                            <img src="/static/icons/bin.svg" width="30" height="30">
                        </button>
                    </span>
                </div>
            {% endfor %}
        </div>

        <hr>

        <div class="form-group">
            <label for="form-notes">Notes:</label>
            <textarea class="form-control" id="form-notes" rows="5">{{ Step.text_data }}</textarea>
            <button type="submit" class="btn btn-info float-right m-1 save-notes"
                    data-urllink="/notes/step/{{ Step.id }}/">Save
            </button>
        </div>

        {% include 'modal_delete.html' %}
        {% include 'modal_video.html' %}

        {% if AF_ENABLED == True %}
            <div class="af-button right">
                <b>Autofocus</b>
            </div>
        {% endif %}

    {% else %}
        <div ALIGN=center>
            <h3> Recording started</h3>
            <br>
            <h1><a href="stop/" class="stop-recording">Stop Recording</a>
            </h1>
            <div id="timer" data-starttime="{{ StartTime }}">00:00</div>
        </div>
    {% endif %}
{% endblock %}

{% block controls %}
    <a href="{{ Lesson.url }}">
        <button type="button" class="float-left h-100 btn btn-light btn-back sticky-top rounded-0">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </a>
{% endblock %}
