{% load app_filters %}
<div class="list-group-item substep-list w-100 d-table bg-dark border-light text-light"
     data-ss-id="{{ Substep.id }}"
     data-ss-locked="{{ Substep.is_locked }}">
    <span class="ss-name d-table-cell align-middle w-25 pl-2">{{ Substep.name|to_custom_name:tmpl_name }}</span>
    <span class="d-table-cell align-middle text-light">
        | V: {% if Substep.duration > 0.0 %} {{ Substep.duration | sec_to_time }} {% else %} Err! {% endif %}
        | Scr: {% if Substep.screencast_duration > 0.0 %}
        {{ Substep.screencast_duration | sec_to_time }} {% else %}
        Err! {% endif %}
        | {% if not Substep.is_videos_ok %} Err! {% endif %}
    </span>
    <span class="d-table-cell align-middle w-100 pl-4 pr-4">
        <span class="progress w-100 {% if not Substep.is_locked %} d-none {% endif %}" style="z-index: 2">
            <span class="progress-bar progress-bar-striped bg-light progress-bar-animated"
                  role="progressbar" aria-valuenow="100" aria-valuemin="0"
                  aria-valuemax="100" style="width: 100%"></span>
        </span>
    </span>
    <span class="btn-group float-right">
        <button type="button"
                class="btn btn-outline-light show-content"
                data-urllink="/showcontent/{{ Substep.id }}/"
                data-toggle="tooltip" aria-haspopup="true"
                aria-expanded="false" data-placement="bottom"
                title="Show camera recording">
            <img src="/static/icons/video-camera.svg" width="30" height="30">
        </button>
        <button type="button"
                class="btn btn-outline-light show-content"
                data-urllink="/showscreencontent/{{ Substep.id }}/"
                data-toggle="tooltip"
                aria-haspopup="true"
                aria-expanded="false" data-placement="bottom"
                title="Show screencast">
            <img src="/static/icons/display.svg" width="30" height="30">
        </button>
        <button type="button"
                class="btn btn-outline-light show-content show-raw-cut {% if not Substep.automontage_exist %} d-none {% endif %}"
                data-urllink="/show-montage/{{ Substep.id }}/"
                data-toggle="tooltip" aria-haspopup="true"
                aria-expanded="false"
                data-placement="bottom"
                title="Show raw cut" {% if Substep.is_locked %}
                disabled {% endif %}>
            <img src="/static/icons/film-strip-play.svg" width="30" height="30">
        </button>
        <button type="button"
                class="btn btn-outline-light create-raw-cut {% if Substep.automontage_exist %} d-none {% endif %}"
                data-urllink="/create_montage/{{ Substep.id }}"
                data-toggle="tooltip"
                aria-haspopup="true"
                aria-expanded="false"
                data-placement="bottom"
                title="Create raw cut">
            <img src="/static/icons/raw-cut.svg" width="30" height="30">
        </button>
        <button type="button"
                class="btn btn-outline-light delete-button"
                data-urllink="{{ Substep.id }}/delete/"
                data-toggle="tooltip"
                aria-haspopup="true"
                aria-expanded="false"
                data-placement="bottom"
                title="Delete substep"
                {% if Substep.is_locked %} disabled {% endif %}>
            <img src="/static/icons/bin.svg" width="30" height="30">
        </button>
    </span>
</div>
