{%  extends "base.html" %}
{% block content %}
    <ul>
        <li>username: {{ settings.user }}</li>
        <li>server IP-addres: {{ settings.serverIP }}</li>
        <li>client IP-addres: {{ settings.clientIP }}</li>
        <li>File Path on server: {{ settings.serverFilesFolder }}</li>
        <li>Screencast folder on client: {{ settings.clientFilesFolder }}</li>
        <li>Record video from camera: {{ settings.recordVideo }}</li>
        <li>Record screencast:{{ settings.recordScreen }} </li>
        <li><div>User SubStep Template: <br>
            <span class="helper-text">(should contain $id and $stepid for templating)</span> </div>
            <span class="obj_name template_name">{{ settings.substep_template }}</span>
            <span class="rename_button substep_tmpl_rename">change naming template</span> </li>
        <li><a href="/unlock_all">Unlock all locked files</a></li>
    </ul>
{%  endblock %}
