{% extends "control_panel/items_block.html" %}
{% block controls %}
    <button type="button" class="btn btn-light btn-list border show-content"
            data-urllink="/showcontent/{{ item.id }}/" data-toggle="tooltip" aria-haspopup="true"
            aria-expanded="false" data-placement="bottom" title="Show camera recording">
        <img src="/static/icons/video-camera.svg" width="30" height="30">
    </button>
    <button type="button" class="btn btn-light btn-list border show-content"
            data-urllink="/showscreencontent/{{ item.id }}/" data-toggle="tooltip" aria-haspopup="true"
            aria-expanded="false" data-placement="bottom" title="Show screencast">
        <img src="/static/icons/display.svg" width="30" height="30">
    </button>
    {% if item.automontage_exist %}
        <button type="button"
                class="btn btn-light btn-list border show-content"
                data-urllink="/show-montage/{{ item.id }}/" data-toggle="tooltip" aria-haspopup="true"
                aria-expanded="false" data-placement="bottom" title="Show raw cut">
            <img src="/static/icons/film-strip-play.svg" width="30" height="30">
        </button>
    {% endif %}
    {% include 'modal_video.html' %}
{% endblock %}
