{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <script src="{% static "js/control-panel.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="btn-group-vertical w-100">
        {% for user in Users %}
            <button class="btn btn-light btn-lg text-left border btn-list item-button"
                    data-item-id="{{ user.id }}"
                    data-item-type="{{ item_type }}"
                    data-urllink="items/">
                {{ user.user }}
            </button>
        {% endfor %}
    </div>
{% endblock %}