@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

html {
    position: relative;
    min-height: 100vh;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    background-color: #000000;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #dcdcdc;
}

body > .container {
    padding: 30px 15px 50px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.w-4 {
    width: 4% !important;
}

.btn-back {
    background-color: transparent;
}

.btn-add {
    width: 50px;
    height: 50px;

}

.add-item {
    padding-top: 10px;
    margin-bottom: .5rem;
}

.substep-list {
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    font-size: 1.25rem;
    background-color: #000000;
}

#add-form {
    width: 500px;
}

.start-recording, .stop-recording {
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    font-size: 2.25rem;
    height: 15%;
    width: 100%;
}

.recording-button {
    min-height: 170px;
    background-color: transparent;
}

.recording-button[disabled] {
    background-color: transparent;
}

.modal-lg {
    max-width: 75%;
}

.btn.btn-outline-info:disabled {
    opacity: 80%;
    background-color: #eeeeee;
}

.navbar {
    background-color: rgb(27, 31, 35);
}
