
        body {

            text-align: center;
            font-size: 1.275em;
            color: #333333;
            font-family: 'Lato', sans-serif;
            font-weight: 300;

        }

        .hiddenForm {
            display: none;
        }

        #draggableCheckbox {
            text-align: right;
        }

        #navcontainer
            {
            width: auto;
            padding: 0 0 1em 0;
            margin-bottom: 1em;
            color: #333;
            }

            #navcontainer ul
            {
            list-style: none;
            margin: 0;
            padding: 0;
            border: none;
            }

            #navcontainer li
            {
            border-bottom: 1px solid #90bade;
            margin: 0;
            }

            #navcontainer li a
            {
            display: block;
            padding: 5px 5px 5px 0.5em;
            color: #141628;
            text-decoration: none;
            width: 100%;
            }

            html>body #navcontainer li a { width: auto; }

            #navcontainer li a:hover
            {
            border-left: 10px solid #7ed1b6;
            border-right: 10px solid #aee0be;
            background-color: #92d79f;
            color: #fff;
            }



        .show_screen {
            cursor: pointer;
        }

        .substep-list {
            margin: 5px 5px 15px 5px;
            border-bottom: 1px dotted;

        }

        .substep-name {
            display: inline-block;
            width: 400px;
        }



        #header {
            background: #d1e2cb;
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .step_name {
            display:inline-block;
            white-space: nowrap;
            overflow:hidden !important;
            text-overflow: ellipsis;
            width: 70%;
        }

        #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #sortable li { margin: 0 3px 3px 3px;
            font-size: 1.4em;
            height: auto;
            background: #FAFAFA;
            border-width: 0px;
        }

        #page {
            width: 1150px;
            text-align: left;
            margin: 10px auto 20px auto;
            background-color: #489b14;
        }

        #sidebar{
            float: left;
            width: 200px;
            border: 1px  solid #000;
            margin-right: 10px;
        }

        #content {
            float: left;
            width: 900px;
            border: 1px solid #35af44;
            padding: 10px;

            color: #888;
            height: auto;
            margin-right: 6px;
            margin-top: 2px;
            font-size: 22px;
        }

        input {
            font-size: 22px;
        }

        .stop-recording {
            cursor: pointer;
        }

        .start-recording {
            cursor: pointer;
        }

        .lesson_info {
            font-size: 0.8em;
            display: inline-block;
            float: right;
            text-align: left;
            width: 170px;
            color: #565656;
            cursor: pointer;

        }


        #id_name {
            width:100%;
        }

        #rename-step-form, #rename-lesson-form {
            width:100%;
            height:auto;
            margin:auto;
            position:relative;

        }

        .substep_tmpl_rename {
            float: right ;
            border: 1px dashed;
            padding: 0px 0px 0px 0px;
            margin: 0px 10px 0px 0px;
        }

        .template_name {
            border: 1px dashed;
            font-weight: bold;
        }

        .helper-text {
            font-size: 0.7em;
        }

        .input-step-name-field, .input-lesson-name-field {
            display: inline;
            width:auto;
        }

        #input-field-name {
            width:80%;
            height: 40px;
        }

        .lesson_info_link {
            padding-right: 20px;

        }

        .lesson_path{
            padding-right: auto;
            display: inline-block;
        }

        .hiddenInfo {
            display: none;
        }

        .lesson_path {
            font-size: 0.475em;
        }

        .delete_button {
            width: auto;

            cursor: pointer;
            padding-left: 5px;
        }

        .right {
            float: right;
            width: auto;
        }

        /* Basic Grey */

.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    padding: 25px 15px 25px 10px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:3px solid #eeeeee;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="password"],.basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 19px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    font-size: 19px;
    background: #7ab06f;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 2px 1px 5px #B6B6B6;
    border-radius: 0px;
    width: 200px;
    text-shadow: 1px 1px 1px #4e7f43;
    cursor: pointer;
    font-family: "Myriad Pro Light", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight:lighter;
}
.basic-grey .button:hover {
    background: #528446
}



    /*D3.CSS*/
            .bar {
              fill: steelblue;
            }

            .bar:hover {
              fill: brown;
            }

            .axis {
              font: 10px sans-serif;
            }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .x.axis path {
          display: none;
        }

        /*D3.CSS*/